In [1]:
import pandas as pd

In [2]:
series = pd.Series([])

In [3]:
series[0] = 'zero'
series[1] = 'one'

In [4]:
series

0    zero
1     one
dtype: object

In [5]:
print(series._repr_html_())

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">

  <tbody>
    <tr>
      <th>0</th>
      <td>zero</td>
    </tr>
    <tr>
      <th>1</th>
      <td>one</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
df = series.to_frame()

In [7]:
df

      0
0  zero
1   one